<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="bg-white">
        <div
          class="w-100 mw8 ph4-l ph3 center pt2 pb3 flex items-baseline flex flex-wrap"
        >
          <a href="/" class="dib f2 f3-ns fw6 link black hover-ut-orange center-s pb1 pr3">
            UT CS HCI
            <picture>
              <source
                srcset="{{ '/assets/bevo-silhouette.svg' | relative_url }}"
                type="image/svg+xml"
              />
              <img
                alt="The UT mascot Bevo, who is a bull."
                class="pl2 w3"
                style="margin-bottom: -0.5rem"
              />
            </picture>
          </a>
          <nav
            class="mt2 ml-auto-ns lh-copy w-auto-ns w-100 flex flex-column flex-row-ns f4 f5-ns"
          >
            <div class="tc mt0-ns mt2">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-ut-orange link dib"
                href="{{ '/about' | relative_url }}"
                >About</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-ut-orange link dib"
                href="{{ '/team' | relative_url }}"
                >Team</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-ut-orange link dib"
                href="{{ '/publications' | relative_url }}"
                >Publications</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-ut-orange link dib"
                href="{{ '/news' | relative_url }}"
                >News</a
              >
            </div>
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer class="bt bg-ut-orange white mt5 flex-shrink-0">
      <div class="w-100 mw8 ph4-l ph3 center pv5">
        <div class="flex flex-row-ns flex-column">
          <div class="w-50-ns">
            <div class="pv1">
              Hello from Austin.
              <a
                href="{{ '/team' | relative_url }}"
                class="link white dim underline"
                >Come join us!</a
              >
            </div>
            <div class="pv1">
              <a
                href="{{
                  page.path
                }}"
                class="link white dim"
                >Edit this page</a
              >
            </div>
            <div class="pv1">
              Our lab is in GDC 3.704.
            </div>
            <div class="pt4">
              <abbr
                title="Last build on {{ site.time | date: '%Y-%m-%d' }}"
                class="white"
                style="text-underline-position: under"
                >{{ site.time | date: "%B %Y" }}</abbr
              >
            </div>
          </div>
          <div class="w-50-ns">
            <h4 class="white mt0-ns">Links</h4>
            <ul class="list pl0">
              <li>
                <a href="https://cs.utexas.edu" class="link white dim pv1 dib"
                  >Department of Computer Science</a
                >
              </li>
              <li>
                <a href="https://utexas.edu" class="link white dim pv1 dib"
                  >The University of Texas at Austin</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
